{% load staticfiles %}
<div class="wrapper wrapper-content dashboard">
	<div class="row quick-button">
		{% for menubar in menubars %}
			{% if forloop.counter == 1 or forloop.counter|divisibleby:7 %}
			<div class="col-md-4">
			{% endif %}
			{% if menubar.action_id is None and menubar.link is None %}
				<div class="col-sm-2">
					<div class="thumbnail">
						<center>
							<img src="{% static menubar.icon  %}" alt="..." class="icon-lab" style="margin-bottom:1px;">
							<div class="caption">
								<li style="list-style-type: none; margin-bottom: 9px;">
									<a href="#" class="dropdown-toggle" style="color: black; " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menubar.name}}&nbsp<span class="caret"></span></a>
									<ul class="dropdown-menu trns">
										{% for submenubar in menubars %}
											{% if submenubar.parent == menubar.id  %}
												{% if submenubar.link is None %}
													<li><a id="{{ submenubar.action_id }}" class="btn-link">{{ submenubar.name }}</a></li>
												{% else %}
													<li><a href="/frm_order/{{ submenubar.link}}" class="btn-link">{{ submenubar.name }}</a></li>
												{% endif %}
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							</div>
						</center>
					</div>
				</div>
			{% elif menubar.level == 0 %}
				<div class="col-sm-2" style="margin-left: 0px;">
					{% if menubar.link is None %}
						<a id="{{ menubar.action_id }}" class="btn-link">
					{% else %}
						<a href="/frm_order/{{ menubar.link}}" class="btn-link">
					{% endif %}
					<div class="thumbnail">
						<center>
							<img src="{% static menubar.icon  %}" alt="..." class="icon-lab">
							<div class="caption">
								<p>{{menubar.name}}</p>
							</div>
						</center>
					</div>
					</a>
				</div>
			{% endif %}
			{% if forloop.counter|divisibleby:6 or forloop.counter == jml_menu %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>