 <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label" for="sigma" style="text-align: left;">Signa</label>
            
    
            <div class="col-md-6">
                <div class="form-check-inline">
    
                    <label class="customradio"><span class="radiotextsty">Otomatis</span>
                        <input type="radio" checked="checked" name="radioSigma">
                        <span class="checkmark"></span>
                    </label>
                    <label class="customradio"><span class="radiotextsty">Manual</span>
                        <input type="radio" name="radioSigma">
                        <span class="checkmark"></span>
                    </label>
    
                </div>
            </div>
    
            <!-- <div class=" col-md-3">
                <div class="btn btn-default btn-xs" id="btnIrIndikasi" style="padding: 5px 10px;">Indikasi Obat 
                    <i class="fa fa-search"></i>
                </div>
            </div> -->
        </div>
</div>

    <!-- Modal  -->
<div class="modal fade" id="modalPickerIndikasi" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Indikasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridModalPickerIndikasi">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
   
   
    <div class="form-group">

        <div class="col-md-12">
            <textarea class="form-control" id="sigma" name="sigma" placeholder="" style="width: 304px; height: 150px;"></textarea>
        </div>


    </div>

    <input type="hidden" id="dk_KPTGL_PERIKSA" />
    <input type="hidden" id="dk_FHRNO_TRANSAKSI" />
    <input type="hidden" id="dk_KPKD_DOKTER" />
    <input type="hidden" id="dk_FDRBUKTI_ID" />
    <!-- <input type="hidden" id="dk_FERRACIK_ID" /> -->
    <input type="hidden" id="dk_FERRACIKDNO" />
