<div class="wrapper wrapper-content animated fadeInRight p-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center h6 bg-success font-bold text-white" style="border-radius: 25px;">DAFTAR
                PAKET PASIEN
            </div>
            <div class="card-body"
                style="background: linear-gradient(to right, #0f2027, #203a43, #2c5364);border-radius: 5px;padding-bottom:5px;padding-top:5px;margin-top:5px;margin-bottom: 5px;">
                <div class="font-bold justify-content-between"
                    style="background-color:#cbc4cd;padding-top:10px;border-radius: 15px">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="row form-group">
                                <label class="col-md-3 control-label" style="color:white;">Nomor Deposit: </label>

                                <input id="no_trans" name="no_trans" type="text" class="col-md-5 form-control input-md"
                                    readonly style="background-color: white">
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-md-3 text-white">ID PASIEN :</label>
                                <input type="text" class="col-md-2 form-control input-md font-weight-bold text-black-50"
                                    id="idPasien">
                                <input type="text"
                                    class="col-md-5 form-control input-md font-weight-bold text-black-50 p-0 text-center"
                                    id="nama_pasien">
                                <div class="col-md-2">
                                    <button class="btn  btn-success btn-xs" id="btnFindPasien">cari
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3 text-white">Alamat </label>
                                <div
                                    class="col-md-7 form-control input-md font-weight-bold text-black-50 p-0 text-center">
                                    <input readonly id="alamat" name="alamat" type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3 text-white">Keterangan </label>
                                <div
                                    class="col-md-7 form-control input-md font-weight-bold text-black-50 p-0 text-center">
                                    <input id="keterangan" name="keterangan" type="text" class="form-control input-md">
                                </div>
                            </div>




                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="col-md-2 control-label" style="color:white;">Tanggal : </label>
                                <div class="col-md-3">
                                    <input id="tanggal" name="tanggal" type="date" class="form-control input-md today"
                                        readonly>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-2">Deposit Tunai</label>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="switch-toggle switch-candy switch-candy-custom">
                                            <input id="deposit_tunai_off" class="deposit_tunai_toggle"
                                                name="deposit_tunai_toggle" value="1" type="radio" checked>
                                            <label for="deposit_tunai_off">Tidak</label>
                                            <input id="deposit_tunai_on" class="deposit_tunai_toggle"
                                                name="deposit_tunai_toggle" value="0" type="radio">
                                            <label for="deposit_tunai_on">Ya</label>
                                            <a></a>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="deposit_tunai" id="deposit_tunai_nom"
                                        class="form-control input-md" readonly>
                                </div>

                            </div>
                            <div class=" row form-group">
                                <div class="col-md-4">
                                    <div class="class row">
                                        <label style="background:#ed55657a;"
                                            class="col-md-12 checkbox-inline text-white">
                                            <input type="checkbox" id="inlineCheckboxclose" name="inlineCheckboxclose"
                                                value="0">Close
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <button class="btn btn-danger btn-xm" id="tambah_paket" style="margin-left: 5px">
                                        <span class="fa fa-plus"></span> Tambah Paket
                                    </button>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="kd_paket" id="kd_paket" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <button class="btn btn-primary btn-xs" id="tambah_produk" style="margin-left: 5px">
                        <span class="fa fa-plus"></span> Tambah Produk
                    </button>
                </div>
            </div>

            <div class="row" style="margin-top:5px;margin-bottom: 5px;">
                <div class="col-md-12">
                    <button class="btn btn-xs btn-primary" id="btnfar_tambah_produk" style="display: none;">Tambah
                        Produk</button>
                    <div style="height: 200px;overflow-y: auto;" class="mt-7">
                        <div id="datagrid"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="row" style="margin-top:5px;margin-bottom: 5px;">
                        <div class="col-md-12">
                            <div style="height: 100px;overflow-y: auto;" class="mt-7">
                                <div id="datagridbayar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="row" style="background-color: #ca98a0;padding-top: 10px;">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-6 control-label text-center">User: </label>
                                <div class="col-md-6">
                                    <input id="userrs" name="userrs" class="form-control input-sm" readonly
                                        style="background-color: #9093c2;font-size: 12px;font: bold;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <label class="col-md-5 control-label text-center">Update:
                                </label>
                                <div class="col-md-7">
                                    <input id="updaters" name="updaters" class="form-control input-sm" readonly
                                        style="background-color: #93a8c7;font-size: 12px;font: bold;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="row">
                        <label class="col-md-4 control-label">TOTAL DEBET</label>
                        <div class="col-md-2">: Rp
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="total" value="0" class="form-control input-md inputText" readonly
                                style="background-color: white;text-align: right">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 control-label" style="margin-top: 5px">TOTAL BAYAR</label>
                        <div class="col-md-2" style="margin-top: 5px">: Rp
                        </div>

                        <div class="col-md-6">
                            <input type="text" id="totalbayar" value="0" class="form-control input-md inputText"
                                readonly style="background-color: white;text-align: right ;margin-top: 5px">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>