<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Tgl.Lahir</label>
        <div class="col-md-5">
            <input type="text" name="tgllahir" id="tgllahir" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Tgl.Periksa</label>
        <div class="col-md-5">
            <input type="text" name="tglfaktur" id="tglfaktur" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Usia</label>
        <div class="col-md-1" >
            <input type="text" name="thn" id="thn" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Th
        </div>
        <div class="col-md-1" >
            <input type="text" name="bln" id="bln" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Bln
        </div>
        <div class="col-md-1" >
            <input type="text" name="hari" id="hari" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Hri
        </div>
        <div class="col-md-1" >
        L/P
        </div>
        <div class="col-md-1" >
            <input type="text" name="jk" id="jk" style="
            width: 40px;
        " class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">Alamat</label>
        <div class="col-md-6">
            <input type="text" name="alamat1" id="alamat1" class="form-control input-sm" required />
        </div>
    </div>
</div>


<div id="LayoutBPJS">
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">No.BPJS</label>
        <div class="col-md-5">
            <input type="text" name="noBPJS" id="noBPJS" class="form-control input-sm" required />
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">No.Kunjungan</label>
        <div class="col-md-5">
            <input type="text" name="noKunjungan" id="noKunjungan" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">USER INPUT </label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="userInput" id="userInput" class="form-control input-sm" required />
        </div>

        <label class="col-md-2  control-label">WAKTU</label>
        <div class="col-md-4" style="margin-right: inherit;">
            <input type="text" name="waktuInput" id="waktuInput" class="form-control input-sm" required />
        </div>
       
    </div>
</div>

<div class="row">
    <label class="col-md-3">
        <input class="col-md-2" type="checkbox" id="inlineCheckboxaktif" value="1" disabled="disabled">aktif
    </label>
    <label class="col-md-12 ">
        Prolanis
        <input class="col-md-12" type="text" id="inlineCheckboxpstProl" readonly="">
    </label>
    <label class="col-md-12 ">
        PRB
        <input class="col-md-12" type="text" id="inlineCheckboxPRB" readonly="">
    </label>
</div>
