<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">No.Transaksi</label>
        <div class="col-md-9">
            <input type="text" name="notrans" id="notrans" class="form-control input-sm" disabled />
        </div>

    </div>
    
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">No.CPPT</label>
        <div class="col-md-9">
            <input type="text" name="no_transaksi_cppt" id="no_transaksi_cppt" class="form-control input-sm" disabled />
        </div>

    </div>
    
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">Pasien</label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="detailPasien1" id="detailPasien1" class="form-control input-sm" style="font-size: 11px;" required />
        </div>
        <div class="col-md-5" style="margin-right: inherit;">
            <input type="text" name="detailPasien2" id="detailPasien2" class="form-control input-sm" style="font-size: 11px;" required />
        </div>
        
        <div class=" col-md-1">
            <div class="btn btn-default btn-xs" id="btnCariPasien"><i class="fa fa-search"></i></div>
        </div> 
    </div>
</div>



<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">Kel.Pasien</label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="kelpas1" id="kelpas1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="kelpas2" id="kelpas2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<!-- <div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label"></label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="kelpas3" id="kelpas3" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="kelpas4" id="kelpas4" class="form-control input-sm" required />
        </div>
    </div>
</div> -->

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">Poliklinik</label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="poli1" id="poli1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="poli2" id="poli2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label"> Dokter</label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="dokter1" id="dokter1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="dokter2" id="dokter2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3  control-label">No.Antri Poli</label>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="noAntriDokter" id="noAntriDokter" class="form-control input-sm" required />
        </div>
        

        <!-- <label class="col-md-3  control-label">No.Antri Poli</label>
        <div class="col-md-3" style="margin-right: inherit;">
            <input type="text" name="noAntriDokter" id="noAntriDokter" class="form-control input-sm" required />
        </div> -->
       
    </div>
</div>


<div class="form-group row">
    <label class="col-md-3 fz-11 control-label">Panggil:</label>
    <div class="col-md-9">
      <div id="" class="form-inline">
        <!-- <label class="radio-inline fz-11"><input type="radio" name="antrianJenis" value="1"  >CS </label> -->
        <label class="radio-inline fz-11"><input type="radio" name="antrianJenis" value="2"  checked="checked"> Poli </label>
        <!-- <label class="radio-inline fz-11"><input type="radio" name="channel" value="3"  >Farmasi </label> -->
        <!-- <label class="radio-inline fz-11"><input type="radio" name="channel" value="4"  >4 </label> -->
        
        
      </div>
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 fz-11 control-label">Channel:</label>
    <div class="col-md-9">
      <div id="" class="form-inline">
        <label class="radio-inline fz-11"><input type="radio" name="channel" value="1"  checked="checked">1 </label>
        <label class="radio-inline fz-11"><input type="radio" name="channel" value="2"  >2 </label>
        <!-- <label class="radio-inline fz-11"><input type="radio" name="channel" value="3"  >3 </label>
        <label class="radio-inline fz-11"><input type="radio" name="channel" value="4"  >4 </label> -->
        
        
      </div>
    </div>
</div>
<div class="form-group row">
    
    <div class="col-md-12">
        <div class="btn btn-primary" id="btnPanggil">Panggil</div>
    </div>
</div>




