

<div class="row">

    <div class="col-sm-1" style="margin-left: 0px;">
        <a href="#" id="btnCSave">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/simpan.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">Save</p>
                    </div>
                </center>
            </div>
        </a>
    </div>

    <div class="col-sm-1" style="margin-left: 0px;">
        <a href="#" id="btnCEresep">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/hasil_lab.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">E-Rsp</p>
                    </div>
                </center>
            </div>
        </a>
    </div>

    <div class="col-sm-1" style="margin-left: 0px;">
        <a href="#" id="btnCLab">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/farmasi.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">E-Lab</p>
                    </div>
                </center>
            </div>
        </a>
    </div>

    <div class="col-sm-1" style="margin-left: 0px;">
        <a href="#" id="btnCRad">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/transaksi.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">E-Rad</p>
                    </div>
                </center>
            </div>
        </a>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btnSrtRekMed">
            <div class="thumbnail " style="width: 45px;height: 70px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/cetak_bill.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">Ctk.Rek Med &nbsp</p>
                    </div>
                </center>
            </div>
        </div>
    </div>

    
    

    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btnRMenuLainnya" data-toggle="modal" data-target="#modalsMenu">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/transaksi.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">Lainnya</p>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="col-sm-1" style="margin-left: 0px;">
        <div  id="btnRujukan">
            <div class="thumbnail " style="width: 45px;height: 70px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/cetak_bill.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">Rujukan</p>
                    </div>
                </center>
            </div>
        </div>
    </div>


    <div class="col-sm-1" style="margin-left: 0px;">
        <a href="/">
            <div class="thumbnail " style="width: 45px;">
                <center>
                    <img src="/static/img/laborat/kasir_lab/keluar.png" alt="..." class="cppt-menu-img-sz">
                    <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz"> Exit &nbsp</p>
                    </div>
                </center>
            </div>
        </a>
    </div>


</div>


<!-- Modal Popup Menu -->
<div class="modal fade" id="modalsMenu" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lainya</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-1" style="margin-left: 0px;">
                        <a href="#" id="btnRCetak">
                            <div class="thumbnail " style="width: 45px;">
                                <center>
                                    <img src="/static/img/laborat/cetak.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud ">
                                        <p class="cppt-menu-fz">Print &nbsp</p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>


                     <div class="col-sm-1" style="margin-left: 0px;">
                        <a href="#" id="btnRCetak">
                            <div class="thumbnail " style="width: 45px;">
                                <center>
                                    <img src="/static/img/laborat/cetak.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud ">
                                        <p class="cppt-menu-fz">Print &nbsp</p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-2" style="margin-left: 0px;display:none;">
                        <a href="/emrdokter/surat-kontrol" id="btnSrtKontrol">
                            <div class="thumbnail " style="width: 75px;height: 60px;">
                                <center>
                                    <img src="/static/img/laborat/cetak.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud ">
                                        <p class="cppt-menu-fz">Srt. Kontrol </br> /Rujukan</p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-2" style="margin-left: 0px;display:none;">
                        <a href="/emrdokter/rujukan-internal" id="btnSrtKontrol">
                            <div class="thumbnail " style="width: 75px;height: 60px;">
                                <center>
                                    <img src="/static/img/laborat/cetak.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud ">
                                        <p class="cppt-menu-fz">Rujukan Internal</p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-2" style="margin-left: 0px;">
                        <a href="/emrdokter/cppt-icd" id="btnSrtKontrol">
                            <div class="thumbnail " style="width: 75px;height: 60px;">
                                <center>
                                    <img src="/static/img/laborat/cetak.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud ">
                                        <p class="cppt-menu-fz">CPPT</p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>

                    <!--<div class="col-sm-2" style="margin-left: 0px;">
                        <div href="#" id="" class="dropdown">

                            <ul class="dropdown-menu">
                                <li><a id="btnCppt" href="/emrdokter/cppt">Tanpa ICD 9/10</a></li>
                                <li><a id="btnCpptICD" href="/emrdokter/cppt-icd">Dengan ICD 9/10 </a></li>
                            </ul>

                            <div class="thumbnail btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 90px;height: 60px;">
                                <center>
                                    <img src="/static/img/emr/cppt.png" alt="..." class="cppt-menu-img-sz">
                                    <div class="caption padding_button_crud">
                                        <p class="cppt-menu-fz">CPPT &nbsp; <span class="caret"></span></p>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>