<div style="margin: 0px 10px;">
     <div class="form-group row">
       
        <div class="col-sm-3">
         <div "col-sm-2"><label class=" fz-11">Keadaan Umum</label></div>
           <select class="form-control  input-sm2" name="keadUmum" id="keadUmum">
                <option value="1">KU LEMAH </option>
                <option value="2">KU SEDANG</option>
                <option value="3">KU BAIK</option>
            </select>
        </div>
       
        <div class="col-sm-2"> <div class="col-sm-1 fz-11"><label>BB</label></div><input type="text" id="BB" class="form-control fz-11 input-sm2"  placeholder="KG" /></div>
        
        <div class="col-sm-2"><div class="col-sm-1"><label class=" fz-11">TB</label></div><input type="text" id="TB" class="form-control fz-11 input-sm2" placeholder="CM" /></div>
        
        <div class="col-sm-2"><div class="col-sm-1"><label class="fz-11">LK</label></div> <input type="text" id="LK" class="form-control fz-11 input-sm2" placeholder="CM"  /></div>
    </div>


    <div class="form-group row">
       
        <div class="col-sm-2"><div class="col-sm-2"> <label class=" fz-11">Tensi</label></div><input type="text" id="tensi" name="tensi" class="form-control fz-11 input-sm2" /></div>
        
        <div class="col-sm-2"><div class="col-sm-1"><label class="col-sm-1 fz-11">Suhu</label></div><input type="text" id="suhu" name="suhu" class="form-control fz-11 input-sm2" /></div>
        
        
        <div class="col-sm-2"><div class="col-sm-1"><label class="col-sm-1 fz-11">Nadi</label></div><input type="text" id="nadi" name="nadi" class="form-control fz-11 input-sm2" /></div>

        <div class="col-sm-2"><div class="col-sm-1"><label class="col-sm-1 fz-11">Respirasi</label></div><input type="text" id="respirasi" name="respirasi" class="form-control fz-11 input-sm2" /></div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 fz-11">Keluhan Utama</label>
        <div class="col-sm-10"><input type="text" id="kelUtama" name="kelUtama" class="form-control fz-11 input-sm2" /></div>
       
    </div>
   
    
    
    
    
     
     
     

    

</div>
