 <div style="margin: 0px 10px;">
    
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">Rw/ Psikologi:</label>
        <div class="col-md-7">
            <input type="text" name="rw_psikologi" id="rw_psikologi" class="form-control input-sm" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">Status Psikolososial:</label>
        <div class="col-md-7">
            <input type="text" name="rw_statpsikolososial" id="rw_statpsikolososial" class="form-control input-sm" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">Masalah Kep:</label>
        <div class="col-md-7">
            <input type="text" name="masalahkep" id="masalahkep" class="form-control input-sm" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 fz-11 control-label">Implementasi:</label>
        <div class="col-md-7">
            <input type="text" name="implementasi" id="implementasi" class="form-control input-sm" required />
        </div>
    </div>


</div>