
    <div style="margin: 0px 10px;">
        
        <div class="form-group row">
        
            <div class="col-md-5">
                <div class="row">
                    <label class="col-md-12 fz-11 control-label">Riwayat Penyakit Sekarang</label>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" id="rw_skrng" name="rw_skrng" placeholder="" style="height: 100px;"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <label class="col-md-12 fz-11 control-label">Riwayat Penyakit Dahulu</label>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" id="rw_dahulu" name="rw_dahulu" placeholder="" style="height: 100px;"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 fz-11">R/ Alergi</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" name="rw_alergi" id="rw_alergi1" checked>Tidak
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rw_alergi" id="rw_alergi2" >Ya
                </label>
            </div>

            <div class="col-sm-7"><input type="text" id="rw_alergi3" class="form-control fz-11 input-sm2"  placeholder="Keterangan" /></div>

        </div>
    
       
        <div class="form-group row">
            <label class="col-sm-2 fz-11">Assesmen Nyeri</label>
            <div class="col-sm-3">
                 <select class="form-control  input-sm2" name="rw_assesmentNyeri1" id="rw_assesmentNyeri1">
                    <option value="1">NIPPS</option>
                    <option value="2">FLACCS</option>
                    <option value="3">Wong Baker</option>
                    <option value="4">CPOT</option>
                    <option value="5">PAINAD</option>
                    <option value="6">NUMERIC</option>
                    <option value="7">Tidak Nyeri</option>
                </select>
            </div>

            <div class="col-sm-7"><input type="text" id="rw_assesmentNyeri2" class="form-control fz-11 input-sm2"  placeholder="Keterangan" /></div>

        </div>


          <div class="form-group row">
            
            <div class="col-sm-5">
                <div class=" fz-11"><label>Ass/ Resiko Jatuh</label></div>
                 <select class="form-control  input-sm2" name="rw_assesmentResikoJatuh1" id="rw_assesmentResikoJatuh1">
                    <option>Tidak Resiko (tidak ditemukan a dan b)</option>
                    <option>Resiko Sedang (ditemukan a atau b) </option>
                    <option>Resiko Tinggi (a dan b ditemukan)</option>
                    <option>Resiko Jatuh Rawat Inap</option>
                </select>
            </div>

             <div class="col-sm-2"> <label><div class=" fz-11">Kelompok</div></label><input type="text" id="rw_assesmentResikoJatuh2" class="form-control fz-11 input-sm2"  placeholder="Keterangan" /></div>
            <div class="col-sm-1"> <label><div class=" fz-11">Skor</div></label><input type="text" id="rw_assesmentResikoJatuh3" class="form-control fz-11 input-sm2"  placeholder="Keterangan" /></div>
            <div class="col-sm-4"> <label><div class=" fz-11">Assesmen Nutrisi</div></label><input type="text" id="rw_assesmentResikoJatuh4" class="form-control fz-11 input-sm2"  placeholder="Keterangan" /></div>

        </div>

    </div>