<div class="tabs-container" style="padding: 5px 5px;">
    <ul class="nav nav-tabs" role="tablist" id="kelompokTab">
       
       <!-- <li class="active"><a class="nav-link" data-toggle="tab" href="#tabkiri2a">Riwayat Kesehatan</a></li>
        
        <li><a class="nav-link" data-toggle="tab" href="#tabkiri2">Riwayat Gejala dan Kesimpulan</a></li>
        -->
    </ul>


    <div class="tab-content" id="isiKelompokTabs">

       
       <!-- 
        <div role="tabpanel" id="tabkiri2a" class="tab-pane active" >
            <div class="panel-body">

               <div style="margin: 0px 5px;" >

                     <div class="form-group row">
                        <label class="col-md-2 fz-11 control-label">Riwayat dari:</label>
                        <div class="col-md-10" id="MRDANAMNESE">
                            <div id="ds_answer" class="form-inline">
                                <label class="radio-inline fz-11"><input type="radio" name="ds" value="autoanamnesa">autoanamnesa </label>
                                <label class="radio-inline fz-11"><input type="radio" name="ds" value="allonamnesa">allonamnesa yaitu : 
                                <input type="text" id="ds_pernah" name="ds_pernah" class="form-control fz-11 input-sm2" placeholder="..."></label> 
                                <label class="radio-inline fz-11" style="margin-left: -15px;">hub dg pasien : 
                                <input type="text" id="ds_pernah2" name="ds_pernah2" class="form-control fz-11 input-sm2" placeholder="..."></label> 
                            </div>
                        </div>
                    </div>

                
                 
                  

                </div>
        </div> -->

    </div>
       
        

       


</div>