<!--<div class="row">

    <div class="col-md-3 ">
        <label >Pasien</label>
    </div>

    <div class="col-md-3 ">
        <div id="nocmH"></div>
    </div>


    <div class="col-md-6 ">
        <div id="pasienNH"></div>
    </div>

</div>


<div class="row">
  <div class="col-md-4 ">
	<label for="validationCustom01">Periode</label>
	 <div class="form-group">
		<select class="form-control m-b" style="padding: 0px;width: 100px;height: 30px;" name="periode" id="periode">
			<option>Semua</option> 
			<option>1 Bulan</option>
			<option>3 Bulan</option>
			<option>6 Bulan</option>
			<option>1 Tahun</option>
		</select>
	  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 " style="margin: 0px 10px;">
		<div class="form-group row">
        <div id="choose-type" class="col-sm-12 div-inline">
            <label class="radio-inline">
                <input type="radio" class="radio-inline" name="historyResepMetode" id="historyResepMetode1" value="all" required=""> R/Semua
            </label>
            <label class="radio-inline">
                <input type="radio" class="radio-inline" name="historyResepMetode" id="historyResepMetode2" value="one" required="">R/Sendiri
            </label>
        </div>
    </div>
	
  </div>
</div>
-->

<div class="row">
     
            <div id="gridTransaksiResep"  style="overflow-x: scroll;"></div>
        
</div>