{% extends "layout/master.html" %}
{% block title %}
    dokter
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">
    <style>
        div#dxGridDatadokter.dx-widget {
            font-size: 12px;
            line-height: 0.95;
            height: 240px;
        }
        .form-group {
        margin-bottom: 0.1rem;
        padding: unset;
        }

    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% include 'setupdata/dokter/content.html' %}
    {% include 'setupdata/dokter/modal/dxGridModaldokter.html'%} 
    {% include 'setupdata/dokter/modal/dxGridModalListdokterBpjs.html'%} 
{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript">
{% include 'setupdata/dokter/js/init.html' %}
{% include 'setupdata/dokter/js/aud_content.html' %}
{% include 'setupdata/dokter/js/getdokter.html' %}
{% include 'setupdata/dokter/js/getlistdokterbpjs.html' %}


</script>
{% endblock  %}