<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" id="addDiagnosaCPPT"><span class="fa fa-plus"></span></button>
        {% comment %} <button class="btn btn-warning" id="removeDiagnosaCPPT"><span class="fa fa-minus"></span></button> {% endcomment %}
    </div>
    <div class="col-md-10">
        <h3>DIAGNOSIS (ICD10)</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div id="gridDiagnosaCPPT"style="height: 150px;overflow-y: auto;font-size: 13px;line-height: 0.9;">
            
        </div>
    </div>
</div>