{% extends "layout/master.html" %}
{% block title %}
Proses Change password user
{% endblock %}
{% block content %}
<div class=''>
    <div class="wrapper wrapper-content entry">
        <div class="row ">
            <div class="col-lg-12"  style="padding-top: 16px;">
                <div class="ibox">
                    <div class="ibox-title" style="box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75)">
                        <h3 style="text-align: center">Change password</h3>
                    </div>
                    <div class="ibox-content">
                        <div class='row'>
                            <div class="col-md-6 offset-md-3" style="padding-top: 16px;">
                                <div class="form-row">
                                    <div class="col-md-5" >
                                         <input type="password" name="existingpassword" id="existingpassword" style="font-size: 15px;height: 30px;margin-bottom: 10px;border-radius: 25px;"
                                            class="form-control" placeholder="existing pasword">
                                            <input type="checkbox"style="margin-bottom: 10px;border-radius: 25px;" onclick="myFunction()">Show Password
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-5" >
                                         <input type="password" name="newpassword" id="newpassword" style="font-size: 15px;height: 30px;margin-bottom: 10px;border-radius: 25px;"
                                            class="form-control" placeholder="new password">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-5" >
                                         <input type="password" name="confirmnewpassword" id="confirmnewpassword" style="font-size: 15px;height: 30px;margin-bottom: 10px;border-radius: 25px;"
                                            class="form-control" placeholder="confirm new password">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <button class="btn btn-primary  btn-lg active" id="Prosesakhir"style="font-size: 15px;height: 30px;margin-bottom: 10px;border-radius: 25px;margin-right: 10px;padding-bottom: 2rem;">
                                    <span class="fa fa-save"></span> Save
                                </button>
                                <button class="btn btn-default btn-lg active" id="Batalproses"style="font-size: 15px;height: 30px;margin-bottom: 10px;border-radius: 25px;margin-right: 10px;padding-bottom: 2rem;" data-dismiss="modal">
                                    <span class="fa fa-recycle"></span> Cancel
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript">
{% include 'setupdata/changepassword/js/init.html' %} 
</script>
{% endblock  %}