
{% extends "emr/base.html" %}
{% load staticfiles %}

{% block title %}
E-MR | ERESEP
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/plugins/css-toggle-switch/toggle-switch.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/iCheck/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/dxtreeview.css' %}">
<style>
    body {
        background-color: #4dc9e5;
        background-image: url("/static/img/rajal.png") !important;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-right: 0 !important
    }

    
</style>


<!-- <link rel="stylesheet" type="text/css" href="/static/css/farmasi.css">  -->
<style>
    .form-group{
        margin-bottom: 0px !important;
    }

    .top-navigation .quick-button .thumbnail{
        height:50px !important;
        margin-bottom:0px !important;
    }
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
        /* Theoretically for IE 8 & 9 (more valid) */	
        /* ...but not required as filter works too */
        /* should come BEFORE filter */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        
        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=40);
        
        /* Older than Firefox 0.9 */
        -moz-opacity:0.4;
        
        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.4;
        background: rgb(76, 175, 80);
        
        cursor: not-allowed;
        color: rgba(0,0,0,.26);

    }
       .modal .input-sm {
        font-size: 11px;
        height: 30px !important;
    }
    

.cppt-menu{
    width: 550px; position: absolute; z-index: 10; margin: 0px 770px 0px;
}
.cppt-menu-fz{
    font-size: 10px;
}

.cppt-menu-img-sz{
    height: 35px;
}

.radio-inline{
    margin-right: 10px;
}

.checkbox-inline{
    margin-right: 10px;
}

.height35{
    height: 35px !important;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/drawingboard.js/dist/drawingboard.min.css' %}">
{% endblock %}

{% block content %}
{% include 'emr/eresep/layout/modals_entryresep.html' %}
<div class="wrapper wrapper-content  entry ">

    <div class="row ">
    {% include 'emr/eresep/navbar_crud.html' %}
    </div>
    
    <div class="row ">

        <div class="col-md-7 col-sm-12 card">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Entry E-Resep </h3>
                </div>
                <div class="ibox-content " style="width: 100%;">
                    <form class="form-horizontal" method="POST" id="inputform" style="">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-md-6 col-sm-12">
                                {% include 'emr/eresep/layout/col_kiri.html' %}
                            </div>

                            <div class="col-md-6 col-sm-12">
                                {% include 'emr/eresep/layout/col_kanan.html' %}
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        
    </div>

    <div class="row">
        <div class="col-sm-7 card" style="margin-top: 5px;" >
           
            <div class="tabs-container" style="padding: 5px 5px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a class="nav-link active" data-toggle="tab" href="#tabEresep">E-Resep</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tabEresepM">E-Resep Manual</a></li>
                </ul>
    
                <div class="tab-content">
                    <div role="tabpanel" id="tabEresep" class="tab-pane active">
                        <div class="panel-body">
                            <div id="gridResep" style="padding: 15px 0px;">
                            </div>
    
                        </div>
                    </div>
                    
                    <div role="tabpanel" id="tabEresepM" class="tab-pane">
                        <div class="panel-body">
                            <div id="btnCopyEresepManual" class="btn btn-sm btn-primary float-right m-t-n-xs"><strong>Copy History Obat Manual</strong></div>
                            <div class="row">
                                <div class="col-md-12" id="layoutCopyEresepManual" style="display: none;">
                                    
                                        <div id="gridHistoryResepManual"  style="height: 200px;"></div>
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="FHRRESEPTEXT" name="FHRRESEPTEXT" placeholder="Input E-resep Manual " style="width:100%;height: 200px;"></textarea>
                                    <br/>
                                    <div id="btnSaveEresepManual" class="btn btn-sm btn-primary float-right m-t-n-xs"><strong>Simpan  E-resep Manual</strong></div>
                                    
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

</div>
  

{% endblock content %}

{% block script %}
    <div class="overlay-dark"></div>
    <img class="img-overlay">
    <script src="/static/js/standardModal.js"></script>      
    <script src="{% static 'bower_components/drawingboard.js/dist/drawingboard.min.js'  %}"></script>
    <script src="{% static 'bower_components/drawingboard.js/example/yepnope.js'  %}"></script>
    <script type="text/javascript" src="{% static 'js/html2canvas.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js'%}"></script>
    {% include 'emr/eresep/layout/js.html' %}
{% endblock %}
