{% extends "layout/master.html" %}
{% block title %}
Order Pembelian barang Farmasi
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/loading.css">
<style>
    div#datagrid.dx-widget {
        font-size: 12px;
        line-height: 0.8;
        /* height: 240px; */
    }

    div#dxGridHistory.dx-widget {
        font-size: 12px;
        line-height: 0.8;
        height: 100px;
    }
    div#dxGridStockBarang.dx-widget {
        font-size: 12px;
        line-height: 0.8;
        height: 100px;
    }
    .form-group {
        margin-bottom: 0.9rem;
        padding: unset;
    }
    
</style>
{% endblock %}

{% block content %}
<div class=''>
    <div class="wrapper wrapper-content entry">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title" style="box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75)">
                        <h3 style="text-align: center">Order Pembelian barang Farmasi</h3>
                    </div>
                   
                    <div class="ibox-content" style="background-color: #6ea8bb;border-radius: 15px;">
                        {% csrf_token %}
                        {% include 'farmasi/orderbeli/form_orderpembelian.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'farmasi/orderbeli/modal/ModalprintOrderBeli.html' %}
{% include 'farmasi/orderbeli/modal/ModalOrderbeli.html' %}
{% include 'farmasi/orderbeli/modal/ModalCloseOrderbeli.html' %}
{% include 'farmasi/orderbeli/modal/ModalValidasiorder.html' %}
{% include 'farmasi/orderbeli/modal/ModalLoading.html' %}
{% include 'farmasi/orderbeli/modal/ModalBarang.html' %}
{% include 'farmasi/orderbeli/dxgrid/dxGridModalSupplier.html' %}
{% include 'farmasi/orderbeli/dxgrid/dxGridModalTpay.html' %}
{% include 'farmasi/orderbeli/dxgrid/dxGridModalSetSatuan.html' %}
{% include 'farmasi/orderbeli/modal/ModalCetakValidasi.html' %}

{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript">
{% include 'farmasi/orderbeli/js/init.html' %} 
{% include 'farmasi/orderbeli/js/getCloseorder.html' %} 
{% include 'farmasi/orderbeli/js/getBarang.html' %} 
{% include 'farmasi/orderbeli/js/getDxGrid.html' %}
{% include 'farmasi/orderbeli/js/getSupplier.html' %}
{% include 'farmasi/orderbeli/js/getTpay.html' %} 

</script>
{% endblock  %}