{% comment %} {% load define_action %} {% endcomment %}
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a href="http://{{ request.get_host }}/" class="navbar-brand" href="#">SImRS</a>

    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse trns" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              {% for navbar in navbars %}
                {% if navbar.parent == None %}
                  
                  <li class="dropdown" style="margin-left: 10px;">
                    {% if navbar.has_sub == 1 %}
                      <a href="{% if navbar.link == '#' %}{{navbar.link}}{%else%}{% url navbar.link %}{%endif%}" class="dropdown-toggle" id="nav_{{navbar.id}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{navbar.name}} 
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu trns">
                      {% for subnav1 in navbars %} 
                        {% if subnav1.parent == navbar.id %}
                          <li>
                            {% if subnav1.has_sub == 1 %}
                              <a href="{% if subnav1.link == '#' %}{{subnav1.link}}{%else%}{% url subnav1.link %}{%endif%}" class='sub-nav sub-toggle sub-toggle-1'>{{subnav1.name}}</a>
                              <ul class="dropdown-menu dropdown-sub-1">
                              {% for subnav2 in navbars %}
                                {% if subnav2.parent == subnav1.id %}
                                  <li>
                                    {% if subnav2.has_sub == 1 %}
                                      <a href="{% if subnav2.link == '#' %}{{subnav2.link}}{%else%}{% url subnav2.link %}{%endif%}" class='sub-nav sub-toggle sub-toggle-2' id="nav2_{{subnav2.id}}">{{subnav2.name}}</a>
                                      <ul class="dropdown-menu dropdown-sub-2">
                                      {%for subnav3 in navbars%}
                                        {% if subnav3.parent == subnav2.id %}
                                          
                                          <li>
                                            {% if subnav3.has_sub == 1 %}
                                              <a href="{% if subnav3.link == '#' %}{{subnav3.link}}{%else%}{% url subnav3.link %}{%endif%}" id="nav3_{{subnav3.id}}" class='sub-nav sub-toggle sub-toggle-3'>{{subnav3.name}}</a>
                                              <ul class="dropdown-menu dropdown-sub-3">
                                                {%for subnav4 in navbars%}
                                                  {% if subnav4.parent == subnav3.id %}
                                                    <a href="{% if subnav4.link == '#' %}{{subnav4.link}}{%else%}{% url subnav4.link %}{%endif%}" id="nav3_{{subnav4.id}}" class='sub-nav-4'>{{subnav4.name}}</a>
                                                  {%endif%}
                                                {%endfor%}
                                              </ul>
                                            {% else %}
                                              <a href="{% if subnav3.link == '#' %}{{subnav3.link}}{%else%}{% url subnav3.link %}{%endif%}" id="nav3_{{subnav3.id}}" class='sub-nav-3'>{{subnav3.name}}</a>
                                            {% endif %}
                                          </li>
                                          
                                        {% endif %}
                                      {%endfor%}
                                      </ul>
                                      
                                    {% else %}
                                      <a href="{% if subnav2.link == '#' %}{{subnav2.link}}{%else%}{% url subnav2.link %}{%endif%}" id="nav2_{{subnav2.id}}" class='sub-nav-2'>{{subnav2.name}}</a>
                                    {% endif %}
                                  </li>
                                {%endif%}
                              {% endfor %}
                              
                              </ul>
                              
                            {% else %}
                              <a href="{% if subnav1.link == '#' %}{{subnav1.link}}{%else%}{% url subnav1.link %}{%endif%}" id="nav_{{subnav1.id}}" class='sub-nav-1'>{{subnav1.name}}</a>
                            {% endif %}
                          </li>
                        {%endif %}
                      {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{% if navbar.link == '#' %}{{navbar.link}}{%else%}{{ navbar.link }}{%endif%}" id="nav_{{navbar.id}}">{{navbar.name}} 
                      </a>
                    {% endif %}
                  </li>
                {% endif %}
                
              {% endfor %}

          </ul>
          
          
        </div><!-- /.navbar-collapse -->
    </nav>