<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Tgl.Lahir</label>
        <div class="col-md-5">
            <input type="text" name="tgllahir" id="tgllahir" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Tgl.Periksa</label>
        <div class="col-md-5">
            <input type="text" name="tglfaktur" id="tglfaktur" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Usia</label>
        <div class="col-md-1" >
            <input type="text" name="thn" id="thn" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Th
        </div>
        <div class="col-md-1" >
            <input type="text" name="bln" id="bln" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Bln
        </div>
        <div class="col-md-1" >
            <input type="text" name="hari" id="hari" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Hri
        </div>
        <div class="col-md-1" >
        L/P
        </div>
        <div class="col-md-1" >
            <input type="text" name="jk" id="jk" class="form-control input-sm" required />
        </div>
        {% comment %} <div class=" col-md-1">
            <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalSupplier"><i class="fa fa-search"></i></div>
        </div> {% endcomment %}
    </div>
</div>


<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label"> Dokter</label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="dokter1" id="dokter1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="dokter2" id="dokter2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">No.Trans Lab</label>
        <div class="col-md-5">
            <input type="text" name="noTransLab" id="noTransLab" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <label class="col-md-3 fz-11 control-label">Tgl.Periksa Lab</label>
        <div class="col-md-5">
            <input type="text" name="tglperiksa2" id="tglperiksa2" class="form-control input-sm datepik" required />
        </div>
    </div>
</div>

