  {% load staticfiles %}
 
 <div class="col-sm-12" style="margin-left: 0px;">

         <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnCSave">
            <div class="thumbnail " style="width: 45px;">
              <center>
                  <img src="{% static 'img/emr/save.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">Save</p>
                  </div>
              </center>
            </div>
            </a>
          </div> 

          <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnCEresep">
            <div class="thumbnail "  style="width: 45px;">
              <center>
                  <img src="{% static 'img/emr/resep.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">E-Rsp</p>
                  </div>
              </center>
            </div>
            </a>
          </div>

          {% comment %} <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnCSoapi">
            <div class="thumbnail "  style="width: 45px;height: 59px;">
              <center>
                  <img src="{% static 'img/emr/assesment.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">SOAPI RJ &nbsp</p>
                  </div>
              </center>
            </div>
            </a>
          </div>  {% endcomment %}

         

          <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnCLab">
            <div class="thumbnail " style="width: 45px;">
              <center>
                  <img src="{% static 'img/emr/laboratory.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">E-Lab</p>
                  </div>
              </center>
            </div>
            </a>
          </div>

          <div class="col-sm-1" style="margin-left: 0px;">
                <a href="#" id="btnCRad">
                <div class="thumbnail " style="width: 45px;">
                  <center>
                      <img src="{% static 'img/emr/radiologi.png' %}" alt="..." class="cppt-menu-img-sz">
                      <div class="caption padding_button_crud ">
                        <p class="cppt-menu-fz">E-Rad</p>
                      </div>
                  </center>
                </div>
                </a>
            </div>
            
          <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnRCetak">
            <div class="thumbnail " style="width: 45px;">
              <center>
                  <img src="{% static 'img/emr/print.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">Print &nbsp</p>
                  </div>
              </center>
            </div>
            </a>
          </div>

          {% comment %} <div class="col-sm-1" style="margin-left: 0px;">
            <a href="#" id="btnRFind">
            <div class="thumbnail ">
              <center>
                  <img src="{% static 'img/emr/history.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz">Find &nbsp</p>
                  </div>
              </center>
            </div>
            </a>
          </div> {% endcomment %}
          
          
          
          <div class="col-sm-1" style="margin-left: 0px;">
            <div id="btnBack">
            <div class="thumbnail " style="width: 45px;">
              <center>
                  <img src="{% static 'img/emr/exit.png' %}" alt="..." class="cppt-menu-img-sz">
                  <div class="caption padding_button_crud ">
                    <p class="cppt-menu-fz"> Exit &nbsp</p>
                  </div>
              </center>
            </div>
            </div>
          </div>


</div>