{% extends "layout/master.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block head %}
<style>
    div#datagrid.dx-widget {
        font-size: 12px;
        line-height: 0.8;
        height: 240px;
    }
</style>

{% endblock %}
{% block content %}

<div class=''>
    <div class="modal-dialog modal-lg" role="modal" style="z-index: 4;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="ibox-title" style="background-color: #4f7ebb4f;">
                    <h3 style="text-align: center">{{title}}</h3>
                </div>
            </div>
            <div class="modal-body"> 
                <div class="wrapper wrapper-content entry" style="overflow-x: visible;">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row"id="labelkd_gudang">
                                    <label class="col-md-2 control-label">Dari Gudang</label>
                                    <div class="col-md-2">
                                        <input type="text" name="cetak_dari" id="cetak_dari"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="dari kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="FindDivisi2">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                    <label class="col-md-2 control-label">S/d Gudang</label>
                                    <div class="col-md-2">
                                        <input type="text" name="cetak_sampai" id="cetak_sampai"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="dari kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="FindDivisi3">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row"id="labelkd_barang">
                                    <label class="col-md-2 control-label">Dari Barang</label>
                                    <div class="col-md-2">
                                        <input type="text" name="kodebarang_dari" id="kodebarang_dari"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="s/d kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="Findkodebarang2">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                    <label class="col-md-2 control-label">S/d Barang</label>
                                    <div class="col-md-2">
                                        <input type="text" name="kodebarang_sampai" id="kodebarang_sampai"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="s/d kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="Findkodebarang3">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row"id="labelkd_dokter">
                                    <label class="col-md-2 control-label">Dari Dokter</label>
                                    <div class="col-md-2">
                                        <input type="text" name="kodedokter_dari" id="kodedokter_dari"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="dari kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="Findkodedokter2">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                    <label class="col-md-2 control-label">S/d Dokter</label>
                                    <div class="col-md-2">
                                        <input type="text" name="kodedokter_sampai" id="kodedokter_sampai"
                                            class="form-control input-sm-lab grid-opt-suplier" placeholder="s/d kode">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-block btn-primary" id="Findkodedokter3">
                                            <span class="fa fa-search"></span> Cari
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group col-md-6"id="labelkd_gudang">
                                    <label class="col-md-4 control-label" id="label_Cetak_mutasi_tanggal_dr" >Start Due: </label>
                                    <div class="col-md-4">
                                        <input type="date" id="tanggal_dr"
                                            class="form-control input-sm-lab today formdate2">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="date" id="tanggal_sd"
                                            class="form-control input-sm-lab today formdate2">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="ibox-title" style="background-color: #60645f8a;">
                                        <label class="radio-inline">
                                            <input type="radio"  name="inlineRadioOptusia" id="inlineRadiokreteria1" value="1"> Rekap
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptusia" id="inlineRadiokreteria2" value="2"> Detail
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptusia" id="inlineRadiokreteria3" value="3"> Summary
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel-body"> -->
                            <div class="col-md-12  mt-15" style="background-color:#afece7;padding-top:10px;border-radius: 5px">
                                <div style="height: 200px;overflow-y: auto;">
                                    <div id="datagrid"></div>
                                </div>
                                <div class="options">
                                    <div class="caption">Options</div>
                                    <div class="option">            
                                        <div id="autoExpand"></div>
                                    </div>    
                                </div>
                            </div>
                        <!-- </div> -->

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="Prosescetak">Proses</button>
                <button type="button" class="btn btn-danger" id="Batalproses" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

{% include 'farmasi/printsales010/modal/ModalLoading.html' %}
{% include 'farmasi/printsales010/dxgrid/dxGridModaldivisi.html' %}
{% include 'farmasi/printsales010/dxgrid/dxGridModalbarang.html' %}
{% include 'farmasi/printsales010/dxgrid/dxGridModaldokter.html' %}

{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static '/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static '/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static '/js/inspinia.js'%}"></script>
<script src="{% static '/js/plugins/pace/pace.min.js'%}"></script>

<!-- Steps -->
<script src="{% static '/js/plugins/steps/jquery.steps.min.js'%}"></script>
<script src="{% static 'js/process/gridProcess.js'%}"></script>
<script src="{% static 'js/plugins/iCheck/icheck.min.js'%}"></script>

<script src="{% static 'js/MainProc.js'%}"></script>
<script src="{% static 'js/modalGlobal/modalGlobal.js'%}"></script>

<script type="text/javascript">
{% include 'farmasi/printsales010/js/getDxGrid.html' %} 
{% include 'farmasi/printsales010/js/init.html' %}
{% include 'farmasi/printsales010/js/getDivisi.html' %} 
{% include 'farmasi/printsales010/js/getbarang.html' %} 
{% include 'farmasi/printsales010/js/getdokter.html' %} 

</script>
{% endblock  %}