<div class="row quick-button">
			
				
    
    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_tambah">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/icons/gradient/tambah.png" style="width: 50px;" alt="..." class="icon-lab">
                <div class="caption">
                <p>Add &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_edit">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/edit.png"  style="width: 50px;"alt="..." class="icon-lab">
                <div class="caption">
                <p>Edit &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_hapus">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/hapus.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Hapus &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_save" class="disabledbutton">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/simpan.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Save &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_batal" class="disabledbutton">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/batal.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Batal &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_cari">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/cari.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Find &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_resep">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/farmasi.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Resep &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_cetak">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/cetak_bill.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Cetak &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_riwayat">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/total.png" alt="..." class="icon-lab">
                <div class="caption">
                <p>Rwyt &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>


    <div class="col-sm-1" style="margin-left: 0px;">
        <div id="btn_exit">
        <div class="thumbnail ">
            <center>
                <img src="/static/img/laborat/kasir_lab/keluar.png" style="width: 50px;" alt="..." class="icon-lab">
                <div class="caption">
                <p>Exit &nbsp;</p>
                </div>
            </center>
        </div>
        </div>
    </div>



</div>