<nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-0 border-bottom border-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    <a class="navbar-brand text-white px-4" href="http://{{ request.get_host }}/">EMR</a>
    <span class="blinking" style="color:rgb(151, 85, 153);font-weight:bold;font-size: 13pt "> 
         {{request.session.nama_cabang}}</span>
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav mr-auto font-bold">
        
        </ul>
        <span class="navbar-text mr-3 font-bold">
            <a href="/logout">
                <i class="fas fa-sign-out-alt mr-1"></i>
                Logout
            </a>
        </span>
    </div>
</nav>