{% extends "layout/master.html" %}
{% block title %}
    LOKASI BARANG
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">
    <style>
        div#dxGridDatalokasi.dx-widget {
            font-size: 12px;
            line-height: 0.8;
            height: 340px;
        }
        div#DxgridDatalokasi2.dx-widget {
            font-size: 12px;
            line-height: 0.8;
            height: 340px;
        }
        .form-group {
        margin-bottom: 0.1rem;
        padding: unset;
        }
    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% include 'farmasi/lokasi/form_lokasi.html' %}
    {% include 'farmasi/lokasi/layout/Modalprintlokasi.html' %}  
    {% include 'farmasi/lokasi/dxgrid/dxGridModallokasi.html' %} 

{% endblock content %}

{% block script %}
{% load static %}
<script type="text/javascript">
{% include 'farmasi/lokasi/js/init.html' %}
{% include 'farmasi/lokasi/js/dxgriddatalokasijs.html' %}
{% include 'farmasi/lokasi/js/getlokasi.html' %}
</script>
{% endblock  %}

