<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Tgl.Faktur</label>
        <div class="col-md-5">
            <input type="text" name="tglfaktur" id="tglfaktur" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Kel.Pasien</label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="kelpas1" id="kelpas1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="kelpas2" id="kelpas2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Nama Dokter</label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="dokter1" id="dokter1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="dokter2" id="dokter2" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Status</label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="status1" id="status1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="status2" id="status2" class="form-control input-sm" required />
        </div>
    </div>
</div>

