
<div class="form-group" >
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">No.Rajal</label>
        <div class="col-md-6">
            <input type="text" name="noKunjungan" id="noKunjungan" class="form-control input-sm" required />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">No.Resep</label>
        <div class="col-md-6">
            <input type="text" name="notrans" id="notrans" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Pasien</label>
        <div class="col-md-2" style="margin-right: inherit;">
            <input type="text" name="detailPasien1" id="detailPasien1" class="form-control input-sm" required />
        </div>
        <div class="col-md-6" style="margin-right: inherit;">
            <input type="text" name="detailPasien2" id="detailPasien2" class="form-control input-sm" required />
        </div>
        {% comment %} <div class=" col-md-1">
            <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalSupplier"><i class="fa fa-search"></i></div>
        </div> {% endcomment %}
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Usia</label>
        <div class="col-md-1" >
            <input type="text" name="thn" id="thn" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Th
        </div>
        <div class="col-md-1" >
            <input type="text" name="bln" id="bln" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Bln
        </div>
        <div class="col-md-1" >
            <input type="text" name="hari" id="hari" style="padding: 0px 1px;" class="form-control input-sm" required />
        </div>
        <div class="col-md-1" >
        Hri
        </div>
        <div class="col-md-1" >
        L/P
        </div>
        <div class="col-md-1" >
            <input type="text" name="jk" id="jk" class="form-control input-sm" required />
        </div>
        {% comment %} <div class=" col-md-1">
            <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalSupplier"><i class="fa fa-search"></i></div>
        </div> {% endcomment %}
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Alamat</label>
        <div class="col-md-6">
            <input type="text" name="alamat1" id="alamat1" class="form-control input-sm" required />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label">Alergi</label>
        <div class="col-md-6">
            <input type="text" name="alergi" id="alergi" class="form-control input-sm" required />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row ">
        <label class="col-md-3 fz-11 control-label"></label>
        
        <div class="col-md-6">
            <div id="btnSaveAlergi" class="btn btn-sm btn-primary float-right m-t-n-xs"><strong>Simpan Alergi</strong></div>
        </div>
    </div>
</div>

