 <!-- FOrm input/edit table -->
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <!-- <div class="card bayangan" style="overflow-x: visible !important;"> -->
            <div class="card-body">
                <a class="btn btn-primary" id="add_obat">Tambah Baru</a>
                <a class="btn btn-primary" id="edit_obat">Edit</a>
                <input type="hidden" id="d_pob_jum" name="d_pob_jum" value="0" />
                <table class=" table table-striped tablescroll bghijaumuda" width="100%" cellspacing="0">
                    <thead class="bgabumuda">
                        <tr>
                            <th class="textSize10">No.</th>
                            <th class="textSize10">Brg ID</th>
                            <th class="textSize10">Nama Barang</th>
                            <th class="textSize10">Kemasan</th>
                            <th class="textSize10">H Beli</th>
                            <th class="textSize10">QTY Order</th>
                            <th class="textSize10">Disc %</th>
                            <th class="textSize10">Disc Rp.</th>
                            <th class="textSize10">Total</th>
                            <th class="textSize10">Aksi</th>
                        </tr>
                    </thead>
                    <tbody id="add_new" class="">
                        <!-- <tr id="id_add_new">
                  		<td id="no_add_new"><input type="hidden" name="fdpono" value="1"></td>
                  		<td><input id="brgid_1" onclick="idcaribarang(1)" data-toggle="modal" data-target="#cariinputbarang" type="text" name="brgid[]" class="form-control" /></td>
                  		<td><input type="text" onclick="idcaribarang(1)" data-toggle="modal" data-target="#cariinputbarang" id="nmabrg_1"   name="nmabrg[]" class="form-control" /></td>
                  		<td><input type="text" id="kemasan_1" name="kemasan[]" class="form-control" /></td>
                  		<td><input type="text" onkeypress='return isNumberKey(event)' id="hbeli_1" name="hbeli[]" class="form-control" /></td>
                  		<td><input type="text" onkeypress='return isNumberKey(event)' onchange="hitotmatis(1)" id="qty_1" name="qty[]" class="form-control" value="0" /></td>
                  		<td><input type="text" onkeypress='return isNumberKey(event)' onfocus="hitotmatis(1)" id="discpersen_1" name="discpersen[]" class="form-control" value="0" /></td>
                  		<td><input type="text" onkeypress='return isNumberKey(event);' onfocus="hitotmatis(1)" id="discrp_1" name="discrp[]" class="form-control" value="0"/></td>
                  		<td><input type="text" onkeypress='return isNumberKey(event)' onfocus="tambahrowenter(1)" id="total_1" name="total[]" class="form-control" value="0" /></td>
                  		<td></td>
                  	</tr> -->

                    </tbody>
                </table>
            </div>
            <!-- end card-body -->
            <!-- </div>End card bayangan -->

        </div>
        <!-- End Col-SM -->
    </div>
    <!-- End rows -->