<!-- Modal Popup Cari GLobal -->
<div class="modal fade" id="entryResep" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cari</h4>
            </div>

            <div class="modal-body">
                <div class="card" style="overflow-x: visible;">
                    <div class="card-body">
                        <table id="myTable" class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>NO.POB</th>
                                    <th>Supplier</th>
                                    <th>Tgl. POB</th>
                                    <th>Keterangan</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>NO.POB</th>
                                    <th>Supplier</th>
                                    <th>Tgl. POB</th>
                                    <th>Keterangan</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirmationEdit -->
<div class="modal fade" id="confirmationEdit" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {% comment %} <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Resep Obat <div id="confirmationEditBrg"></div> </h4>
            </div> {% endcomment %}

            <div class="modal-body">
            <h4 class="modal-title" id="myModalLabel">Edit Resep Obat <div id="confirmationEditBrg"></div> </h4>
                <input type="hidden" id="confirmationEdit_IdBrg"/>
                <input type="hidden" id="confirmationEdit_IdTransaksi"/>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
                <button id="confirmationEdit_Edit" type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
                <button id="confirmationEdit_Delete" type="button" class="btn btn-warning" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirmationEdit -->
<div class="modal fade" id="confirmationEditR" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {% comment %} <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Resep Obat <div id="confirmationEditBrg"></div> </h4>
            </div> {% endcomment %}

            <div class="modal-body">
            <h4 class="modal-title" id="myModalLabel">Edit Racikan <div id="confirmationEditBrgR"></div> </h4>
                 <input type="hidden" id="confirmationEdit_IdR"/>
                <input type="hidden" id="confirmationEdit_IdTransaksiR"/>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
                <button id="confirmationEdit_EditR" type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
                <button id="confirmationEdit_DeleteR" type="button" class="btn btn-warning" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal racikan -->
<div class="modal fade" id="racikanModals" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {% comment %} <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Resep Obat <div id="confirmationEditBrg"></div> </h4>
            </div> {% endcomment %}

            <div class="modal-body">
            <h4 class="modal-title" id="myModalLabel">Tambah Racikan</h4>
                
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button id="racikanModals_tambah" type="button" class="btn btn-primary" data-dismiss="modal">Tambah Racikan Baru</button>
                <button id="racikanModals_cari" type="button" class="btn btn-primary">Cari Racikan</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal confirmationEdit -->
<div class="modal fade" id="modalsEntryResep" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog"  style="max-width: 600px;" role="document">
        <div class="modal-content mw-100">

           <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel"> <div id="modalsEntryResep_aksi"></div></h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div> 

            <div class="modal-body">
               <div class="row">
                <div class="col-md-12 col-sm-12" style="padding: 0px 10px;">

                    <form class="form-horizontal" action="" method="post">
                        <fieldset>
                            <div class="form-group">
                                <div class="row">

                                    <label class="col-md-3 control-label" for="name" style="text-align: left;">Nama Obat</label>
                                    
                                    
                                    <div  style="margin-right: inherit;">
                                        <input type="hidden" name="nobatchEdit" id="nobatchEdit" class="form-control input-sm" required />
                                        <input type="hidden" name="kdObat" id="kdObat" class="form-control input-sm" required />
                                    </div>
                                    <div class="col-md-6">
                                        <input id="nmObat" name="nmObat" type="text" class="form-control input-sm">
                                    </div>
                                    <div class=" col-md-1">
                                        <div class="btn btn-default btn-xs" id="modalsEntryResep_BtnCariObat" style="padding: 5px 10px;"><i class="fa fa-search"></i></div>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="form-group"><div class="row"></div>
                            <label class="col-md-3 control-label" for="nmObat" style="text-align: left;">Nama Obat</label>
                            <div class="col-md-9">
                                <input id="nmObat" name="nmObat" type="text" class="form-control input-sm">
                            </div>
                            </div>-->
                           
                            
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label" for="email" style="text-align: left;">Banyaknya</label>
                                    <div class="col-md-3">
                                        <input id="qty1" name="qty1" type="text"  style="padding: 0px;" class="form-control input-sm">
                                    </div>
                                    <div class="col-md-1" style="margin-left: inherit;margin-right: inherit;">
                                        <h3 style="padding: 1px 5px;margin: 5px 10px;font-size: 20px;">/</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="qty2" name="qty2" type="text"  class="form-control input-sm">
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <input id="frkw3" name="frkw3" type="text" class="form-control input-sm">
                                    </div>
                                </div>

                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label" for="email" style="text-align: left;">Frekwensi</label>
                                    <div class="col-md-1">
                                        <input id="frkw1" style="padding: 0px;" name="frkw1" type="text" class="form-control input-sm convResep">
                                    </div>
                                    <div class="col-md-1" style="margin-left: inherit;margin-right: inherit;">
                                        <h3 style="padding: 1px 5px;margin: 5px 10px;font-size: 20px;">X</h3>
                                    </div>
                                    <div class="col-md-1">
                                        <input id="frkw2" style="padding: 0px;" name="frkw2" type="text" class="form-control input-sm convResep">
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <input id="frkw5" name="frkw5" type="text" class="form-control input-sm" placeholder="pemakaian">
                                        <input id="signas" name="signaf" type="hidden" class="form-control input-sm">
                                        <input id="signasKd" name="signaf" type="hidden" class="form-control input-sm">
                                    </div>
        
                                    <div class="col-md-2">
                                        <input id="frkw4" name="frkw4" type="text" class="form-control input-sm" placeholder="durasi">
                                        <input id="signaf" name="signaf" type="hidden" class="form-control input-sm">
                                        <input id="signafKd" name="signaf" type="hidden" class="form-control input-sm">
                                    </div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label" for="crapakai" style="text-align: left;">Cara Pakai</label>
                                    <div class="col-md-2">
                                        <input id="crapakaiKd" name="crapakaiKd" type="hidden" class="form-control input-sm convResep">
                                        <input id="crapakai1" name="crapakai1" type="text" class="form-control input-sm convResep">
                                    </div>
                                    <div class="col-md-4">
                                        <input id="crapakai" name="crapakai" type="text" class="form-control input-sm">
                                    </div>
        
                                      <div class=" col-md-1">
                                         <div class="btn btn-default btn-xs" id="modalsEntryResep_BtnCaraPakai" style="padding: 5px 10px;"><i class="fa fa-search"></i></div>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label" for="sigma" style="text-align: left;">Signa</label>
                                   
                                    <div class="col-md-6">
        
                                        <div id="" class="form-inline">
                                            <label class="radio-inline fz-11"><input type="radio" name="radioSigma" value="0">Otomatis </label>
                                           <label class="radio-inline fz-11"><input type="radio" name="radioSigma" value="1">Manual </label>
                                        </div>
        
                                       
        
                                        <br/>
                                        untuk menambah kata2 di signa klik manual
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="sigma" name="sigma" placeholder="" rows="5"></textarea>
                                    </div>
                                </div>
                        
                            </div>

                           
                        </fieldset>
                    </form>

                </div>
               </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" id="modalsEntryResep_btnSave" >Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
                
            </div>
        </div>
    </div>
</div>


<!-- Modal  -->
<div class="modal fade" id="modalPickerObat" tabindex="-1" role="dialog" aria-labelledby="myModal" > 

    <div class="modal-dialog" role="document" style="max-width: 954px;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari <div id="modalPickerObatCari"></div> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group" id="layoutSearchObat" >
                    <div class="row" >
                    
                    <div class="col-md-2" style="margin-right: inherit;">
                    <input type="hidden" name="modalPickerObat_keyword_idbarang" id="modalPickerObat_keyword_idbarang" placeholder="Id Barang" class="form-control input-sm" required />
                    </div>

                    <label class="col-md-1 control-label" for="name" style="text-align: left;">Keyword</label>

                    <div class="col-md-3" style="margin-right: inherit;">
                    <input type="text" name="modalPickerObat_keyword_barangn" id="modalPickerObat_keyword_barangn" placeholder="Nama Barang" class="form-control input-sm" required />
                    </div>
                    <div class="col-md-3" style="margin-right: inherit;">
                    <input type="text" name="modalPickerObat_keyword_kandungan" id="modalPickerObat_keyword_kandungan" placeholder="Kandungan Obat" class="form-control input-sm" required />
                    </div>
                    
                    <div class=" col-md-1" onclick="setGridObat()" >
                        <div class="btn btn-default btn-xs" style="padding: 5px 10px;"><i class="fa fa-search"></i></div>
                    </div>

                    <div class="col-md-2" style="margin-right: inherit;">
                    
                    </div>

                    

                    </div>
                </div>

                <div class="row" id="rowGridObat">
                    <div id="gridObat">
                        
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal  -->
<div class="modal fade" id="modalPickerCaraPakai" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari Cara Pakai </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridCaraPakai">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="modalPickerCaraPakaiF" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari Cara Pakai </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridCaraPakaiF">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="modalPickerIndikasi" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Indikasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridModalPickerIndikasi">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="modalPickerCaraPakaiS" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari Cara Pakai </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridCaraPakaiS">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal  -->
<div class="modal fade" id="modalFind" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridFind">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="modalFindRacikan" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cari</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">
                    <div class="row" >
                        <div id="gridFindRacikan">
                            
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal  -->
<div class="modal fade" id="modalHistoryPasien" tabindex="-1" role="dialog" aria-labelledby="myModal">

    <div class="modal-dialog" role="document" style="max-width: 1200px;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">History Pasien</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

                <div class="modal-body">

                     <div class="row ">
                        <div class="col-sm-4 ">
                                {% include 'emr/historyPasien/col_kiri.html' %}
                        </div>
                        <div class="col-sm-7 ">
                                {% include 'emr/historyPasien/col_kanan.html' %}
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <div id="btnBuatResep"  class="btn btn-warning" data-dismiss="modal">Buat Resep</div> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>

