<div class="container">
    <div class="col-md-10">
        <div class="panel-body">
            <div class="ibox-title" style="box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75)">
                <h3 style="text-align: center">USER / PEMAKAI</h3>
            </div>
            <div class="card-body" style="background: linear-gradient(to right, #0f2027, #203a43, #2c5364);">
                <div class="form-row">
                    <label class="col-md-3 col-form-label text-white">User Id</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-md " id="kode_userpriv">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-3 col-form-label text-white">Nama User</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-md " id="nama_userpriv">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-3 col-form-label text-white">User Password</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-md " id="password_userpriv">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-3 col-form-label text-white">User Privilege</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-md " id="privelege_userpriv">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="col-md-6 col-form-label text-white">NIP</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-md " id="kode_nip">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-row"
                                style="background:white; padding:10px;padding-bottom: 0px;padding-top: 0px;margin-left: 5px;">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckboxaktif1" value="1">
                                    Aktif / Non Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-3 col-form-label text-white">No. Telepon</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-md " id="no_telepon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>