<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" id="addDiagnosaCPPT"><span class="fa fa-plus"></span></button>
        <button class="btn btn-warning" id="removeDiagnosaCPPT"><span class="fa fa-minus"></span></button>
    </div>
    <div class="col-md-10">
        <h3>DIAGNOSIS (ICD10)</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div id="gridDiagnosaCPPT">
            
        </div>
    </div>
</div>