<div class="row quick-button" style="margin: 0px 25px;">

    <div class="col-sm-12 ">
        <div class="row">
            <div class="col-sm-6 entry">
                <label for="validationCustom01">No.Resep</label>
                <input type="text" class="form-control input-sm" id="noresep" required>
            </div>
            <div class="col-sm-6 entry">
                <label for="validationCustom01">Tgl Resep</label>
                <input type="text" class="form-control input-sm" id="tglresep" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 entry">
                <label for="validationCustom01">Dokter</label>
                <input type="text" class="form-control input-sm" id="dokterResep" required>
            </div>
            <div class="col-sm-6 entry">
                <label for="validationCustom01">Diagnosa</label>
                <input type="text" class="form-control input-sm" id="diagnosa" required>
            </div>
        </div>

    </div>
</div>

<div class="row" style="margin: 10px 7px;">


    <div id="gridTransaksiResepD" style="overflow-x: scroll;"></div>


</div>