<div class="wrapper wrapper-content entry">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title" style="box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .75)">
                    <h3 style="text-align: center">JENIS BARANG</h3>
                </div>
                <div class="panel-body"
                    style="background-color:#fafafa;border-radius: 5px;padding-bottom:10px;margin-top:5px;border-bottom: 1px solid #ddd">
                    <div class="form-row" style="padding-top: 10px;">
                        <div class="col-md-6 col-md-offset-1">
                            <div class="form-row">
                                <label class="col-md-4 control-label">Kode Golongan Barang </label>
                                <div class="col-md-4">
                                    <input id="kode_jenis_barang" type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="col-md-4 control-label">Nama Golongan Barang </label>
                                <div class="col-md-8">
                                    <input id="nama_jenis_barang" type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <!-- BUAT GRID -->
                        <div class="form-row" style="margin-top: 15px;">
                            <div class="col-md-12" style="margin-top: 15px;">
                                <div id="dxGridDatajenis_barang"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>