{% extends "layout/master.html" %}
{% block title %} 
F A R M A S I / PRODUK
{% endblock %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/loading.css">
<style>
    .input-xs {
        height: 2rem;
    }

    .input-date-xs {
        height: 2rem;
        padding: 0 5px !important;
        line-height: 15px !important;
    }

    .btn-group-xs > .btn, .btn-xs {
        line-height: 1.4 !important;
    }
    div#datagrid.dx-widget {
        font-size: 12px;
        line-height: 0.8;
    }
    div#dxGridStockBarang.dx-widget {
        font-size: 12px;
        line-height: 0.8;
        height: 100px;
    }
    div#datagridbayar.dx-widget {
            font-size: 12px;
            line-height: 0.8;
        }
    
    .form-group {
    margin-bottom: 0.2rem;
    }
    .btn-xs {
    font-size: 12px;
    padding: 1px 5px;
    line-height: 19px;
    margin-bottom: 4px;
    }
    .row {
    margin-right: -5px;
    margin-left: -5px;
    }

</style>
{% endblock %}

{% block content %}
{% csrf_token %}

{% include 'dashboard/kasir/modal/modalPembayaranKasir.html'%}
{% include 'dashboard/farmasi/modal/ModalTransferRj.html' %}
{% include 'dashboard/kasir/dxgrid/DxGridModaltpay.html'%}
{% include 'dashboard/kasir/dxgrid/DxGridModalVoucher.html'%}
{% include 'dashboard/farmasi/dxgrid/dxGridModalJenisTransfer.html'%}
{% include 'dashboard/farmasi/dxgrid/dxGridModalNoTransaksiUnit.html'%}
{% include 'dashboard/farmasi/modal/ModalResepRJ.html' %}
{% include 'dashboard/farmasi/dxgrid/dxGridModalGudang.html'%}
{% include 'dashboard/farmasi/dxgrid/dxGridModalDokter.html'%}
{% include 'dashboard/data_pasien/dxgrid/dxGridModalReseler.html'%}
{% include 'dashboard/farmasi/dxgrid/dxGridModalPasien.html' %}
{% include 'dashboard/farmasi/modal/ModalBarang.html' %}
{% include 'dashboard/farmasi/form.html' %}
{% include 'dashboard/modal/modalLoading.html' %}


{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/terbilang.js'%}"></script>
<script type="text/javascript">
    
    {% include 'dashboard/kasir/js/getTpay.html' %}
    {% include 'dashboard/kasir/js/getvoucher.html' %}
    {% include 'dashboard/farmasi/js/getTransferRj.html'%}
    {% include 'dashboard/farmasi/js/getGudang.html'%}
    {% include 'dashboard/farmasi/js/getDokter.html'%}
    {% include 'dashboard/data_pasien/js/getReseler.html' %}
    {% include 'dashboard/farmasi/js/getPasien.html' %}
    {% include 'dashboard/farmasi/js/getBarang.html' %}
    {% include 'dashboard/farmasi/js/getDxGrid.html' %}
    {% include 'dashboard/farmasi/js/init.html' %}
</script>
{% endblock %}